*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

thead,
tfoot {
  font-weight: bold;

  tr {
    border: 1px solid #000;
  }
}

tbody tr {
  border: none;

  &:nth-child(odd) {
    background-color: #000;
    color: #fff;
  }

  &:hover {
    background-color: #235550;
    color: #c4d791;
  }
}

caption {
  font-weight: bolder;
  font-size: 1.2rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .form-fields {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;

    .form-row {
      width: calc(25% - 1rem);

      @media (width <= 1200px) {
        width: calc(50% - 1rem);
      }

      @media (width <= 767px) {
        width: 100%;
      }

      input {
        width: 100%;
      }
    }
  }

  button[type="submit"] {
    margin: 0 auto;
    max-width: 20rem;
    display: inline-flex;
    padding: 0.5rem 1rem;
  }
}


/*Pro mě pro přehlednost*/
h1,
h2,
table {
  margin-bottom: 1rem;
}

body {
  margin: 2rem auto;
  width: 100vh;
  font-family: sans-serif;
}